// Black on White
$foregroundBlackOnWhite: #000000;
$backgroundBlackOnWhite: #FFFFFF;
$highlightBlackOnWhite: #84CDFB;

// Black on Cream
$foregroundBlackOnCream: #000000;
$backgroundBlackOnCream: #FBF8D8;
$highlightBlackOnCream: #84CDFB;

// Black on Light Blue
$foregroundBlackOnLightBlue: #000000;
$backgroundBlackOnLightBlue: #BDD9E4;
$highlightBlackOnLightBlue: #FFD4C0;

// Black on Light Magenta
$foregroundBlackOnLightMagenta: #000000;
$backgroundBlackOnLightMagenta: #DE93E9;
$highlightBlackOnLightMagenta: #84CDFB;

// White on Black
$foregroundWhiteOnBlack: #FFFFFF;
$backgroundWhiteOnBlack: #000000;
$highlightWhiteOnBlack: #705A06;

// Yellow on Blue
$foregroundYellowOnBlue: #FAE628;
$backgroundYellowOnBlue: #0020C4;
$highlightYellowOnBlue: #584B04;

// Gray on Green
$foregroundGrayOnGreen: #72776E;
$backgroundGrayOnGreen: #ACB3A7;
$highlightGrayOnGreen: #E8B214;
